@model MyOnlineCraftWeb.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productDescription" class="control-label"></label>
                <input asp-for="productDescription" class="form-control" />
                <span asp-validation-for="productDescription" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ActualPrice" class="control-label"></label>
                <input asp-for="ActualPrice" class="form-control" />
                <span asp-validation-for="ActualPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            @*<div class="form-control">
                <label asp-for="Product.imageURL" class="control-label"></label>
                <input type="file" asp-for="Product.imageURL" class="form-control" required/>
            </div>*@
            <div class="form-group">
                <label asp-for="imageURL" class="control-label"></label>
                <input asp-for="imageURL" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="productCategoryId" class="control-label"></label>
                <select asp-for="productCategoryId" class ="form-control" asp-items="ViewBag.productCategoryId"><options>-- Select category --</options> </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<partial name="_backToList"></partial>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
