@model MyOnlineCraftWeb.Models.Product


<form method="post" asp-action="Edit">
	<input asp-for="productId" hidden />
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 row">
		<div class="col-12 pb-2">
			<h2 class="text-primary">Edit Product</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="productName"></label>
			<input asp-for="productName" class="form-control" />
			<span asp-validation-for="productName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="productDescription"></label>
			<textarea asp-for="productDescription" rows="3" class="form-control"></textarea>
			<span asp-validation-for="productDescription" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="ActualPrice"></label>
			<input asp-for="ActualPrice" class="form-control" />
			<span asp-validation-for="ActualPrice" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="DiscountPrice"></label>
			<input asp-for="DiscountPrice" class="form-control" />
			<span asp-validation-for="DiscountPrice" class="text-danger"></span>
		</div>
		
		 <div class=" mb-3">
		    <label asp-for="imageURL"></label>
			<input asp-for="imageURL"  class="form-control" />

            </div>
		<div class="mb-3 col-6">
			<label asp-for="productCategoryId"></label>
			<select asp-for="productCategoryId" asp-items="@ViewBag.productCategoryId" class="form-select">
				<option >--Select Category--</option>
			</select>
			<span asp-validation-for="productCategoryId" class="text-danger"></span>
		</div>

		<div class="col-12">
			
				 <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
				<partial name="_backToList"></partial>
            </div>
			
			
		</div>

	</div>
		</div>
		<div class="col-2 pt-4">
			<img src="@Model.imageURL"
			width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
		</div>
	</div>

</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}
